// Colours
$green: #52AC00;
$yellow: #F8BF28;
$blue: #3567B0;
$red: #D0021B;

// Shades
$white: #FFFFFF;
$light-grey: #F7F7F7;
$mid-grey: darken($light-grey, 5%);
$dark-grey: #323232;
$black: #222222;


/////////////////////////////////////
// Type settings

// Font familys
$font-display: 'Montserrat', sans-serif;
$font-body: 'Roboto', sans-serif;

// Fonts sizes
$base-font-size: 16px;
$base-line-height: 1.5;


/////////////////////////////////////
// Spacing, sizes and breakpoints

$base-site-width: 1024px;

// Gutter spacing
$gutter: 1.5rem;

// Breakpoints
$mobile-width: 450px;
$tablet-width: 768px;
$desktop-width: 960px;
$desktop-lrg-width: 1440px;

$radius: 6px;
