.footer {
  background-color: $black;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copyright {
    margin: 0;
    color: $white;
    font-family: $font-display;
    font-size: 0.75em;
  }

}
