.game-box-art {
  display: block;
  max-width: 100%;
  margin-bottom: $gutter;
  border-radius: $radius;
}

.game-meta {
  @include container;
  background-color: $red;
  color: $white;
  margin-bottom: $gutter;
  font-family: $font-display;
  font-weight: normal;
  padding-bottom: 1rem;

  h5 {
    margin-bottom: 0;
    border: 0;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 1.5rem;
  }

  & :first-child {
    border-top: 0;
    padding-top: 0;
  }

  ul li {
    margin-left: 0;
  }

  ul li:before {
    content: none;
  }

}

.game-meta__pak-info {
  @include clearfix;
  border-top: 2px solid $mid-grey;
  padding-top: 1em;
  margin-bottom: 1em;
  padding-left: 64px;
  position: relative;
  min-height: 52px;

  .pak {
    margin: 0 16px 0 0;
    position: absolute;
    left: 0;
  }

  .pak svg {
    transition: ease 0.5s all;
  }

  p {
    margin: 0;
  }

}

.game-meta__pak-info:hover .pak {

  svg {
    width: 58px;
    height: 58px;
    top: calc(50% - 29px);
    left: calc(50% - 29px);
  }

}
