.pak {
  height: 52px;
  width: 52px;
  background-color: $red;
  position: relative;
  border-radius: 2px;

  svg {
    position: absolute;
    fill: $white;
    width: 42px;
    height: 42px;
    top: calc(50% - 21px);
    left: calc(50% - 21px);
  }

}

.icon {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: $green;
  width: 2rem;
  height: 2rem;
  text-indent: -9999px;
  border-radius: 3px;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $red;
  }

}

.icon--twitter {
  background-image: url('../sixty-four/images/social/twitter.svg');
}

.icon--facebook {
  background-image: url('../sixty-four/images/social/facebook.svg');
}

.icon--instagram {
  background-image: url('../sixty-four/images/social/instagram.svg');
}