.page-body {
  margin: auto;
  background-color: $light-grey;
  padding: $gutter 0;

  @include above-desktop {
    padding: ($gutter * 2) 0;
  }

}

.wrapper {
  @include clearfix;
  max-width: $base-site-width;
  margin: auto;
  padding: 0 $gutter;
  box-sizing: border-box;
}

.main {
  width: 100%;
  margin-bottom: $gutter;

  @include above-desktop {
    width: calc(100% - 300px);
    float: left;
    padding-right: $gutter;
    box-sizing: border-box;
  }

}

.sidebar {
  width: 100%;
  max-width: 450px;
  margin: auto;

  @include above-desktop {
    width: 300px;
    float: left;
  }

}

.featured-img {
  display: block;
  margin: 0 0 $gutter 0;
  width: 100%;
  border-radius: $radius;
}


// Post layout

.post__header {

}

.post__content {

  img {
    display: block;
    max-width: 100%;
  }

  @include above-desktop {
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > p {
      margin-right: 3rem;
    }
  }

  @include above-desktop-lrg {
    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > p {
      margin-right: 5rem;
    }
  }

  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }

}

.post__sidebar {
  max-width: 450px;
  margin: auto;
}
