.menu {
  float: right;
  margin: 0;
  font-family: $font-display;
  list-style-type: none;
  font-size: 16px;

  @include above-tablet {
    @include flexbox;
  }

  &-item {
    margin: 0;
  }

  &-item:last-child {
    margin: 0;
  }

  &-item:before {
    content: none;
  }

  &-item > a {
    display: block;
    color: $white;
    padding: 1.25rem 1.5rem;
    background-color: $black;

  }

  &-item > a:hover {
    background-color: darken($black, 5%);
  }

}

.current-menu-item a,
.current-post-parent a {
  background-color: $green;

  &:hover {
    background-color: darken($green, 5%);
  }

}

.menu--js {
  display: none;

  @include above-tablet {
    @include flexbox;
  }

}

.menu--js--show {

  @include below-tablet {
      display: block;
      position: absolute;
      z-index: 999999999;
      left: 0;
      top: 0;
      width: calc(100% - 64px);
  }

}

.menu-toggle {
  display: block;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
  background-color: $green;
  text-indent: -99999px;
  overflow: hidden;
  cursor: pointer;

  @include above-tablet {
    display: none;
  }

  &:before {
    content: '';
    height: 24px;
    width: 32px;
    border-top: 4px solid $white;
    border-bottom: 4px solid $white;
    position: absolute;
    right: calc(50% - 16px);
    top: calc(50% - 16px);
  }

  &:after {
    content: '';
    height: 4px;
    background-color: $white;
    width: 32px;
    position: absolute;
    right: calc(50% - 16px);
    top: calc(50% - 2px);
  }

  &:hover {
    animation: colorchange 2s infinite;
  }

}

// Overlay

.overlay {
  display: none;
}

.overlay--show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000;
  opacity: 0.8;

  @include above-tablet {
    display: none;
  }

}
